<div class="course-item row" courseHighlight [highlightDate]="course.creationDate">
	<div class="data">
		<div>{{course.title}} | {{course.duration}} min <span  *ngIf="course.topRated" [ngStyle]="{'background-color':'orange', color:'white'}">☼</span></div>
		<div>{{course.creationDate | date:'dd.MM.yyyy HH:mm:ss (Z)'}}</div>
		<div>{{course.description}}</div>
		<div><i>{{course.lastChanged() | date:'HH:mm:ss'}}</i></div>
	</div>

	<span>
		<button class="btn btn-secondary" type="button" (click)="editItem();">Edit course</button>
		<button class="btn btn-danger" type="button" (click)="deleteItem();">Delete</button>
	</span>	
</div>
