<div class="courses">
	<div>
	<h4>Courses:</h4>

    <form (ngSubmit)="findCourse(localState.value)" autocomplete="off">
      <input type="text" name="textInput" [(ngModel)]="localState.value" 
        placeholder="Submit course name" autofocus>
      <button>Find</button>
    </form>

    <form (ngSubmit)="addCourse()" autocomplete="off">
      <button>Add course</button>
    </form>
	</div>
	<div class="course-list">
		<course-item *ngFor="let course of courseList" [course]="course" (change)="deleteCourse($event);"></course-item>
	</div>
	<div *ngIf="isLoading">Is loading...</div>
</div>
