<div class="courses">
	<div>
	<h4>Courses:</h4>
	<div><i>{{lastChanged() | date:'HH:mm:ss'}}</i></div>
    <form autocomplete="off">
      <input type="text" name="textInput" [(ngModel)]="localCourse.value" placeholder="Submit course name" autofocus>
      <button class="btn btn-secondary" type="button" (click)="findCourse(localCourse.value);">Find</button>
      <button class="btn btn-secondary" type="button" (click)="addCourse();">Add course</button>
    </form>
	</div>
	<div class="course-list">
		<course-item *ngFor="let course of courseList" [course]="course" (change)="deleteCourse($event);"></course-item>
	</div>
	<div *ngIf="isLoading"  class="loader">Is loading...</div>
	<div *ngIf="isEmptyList()">No data. Feel free to add new course.</div>
</div>
